extends ./layout/layout
block content

    mixin inputGroup(name, label, type)
        label
            | #{label}
            input(name=name, type=type)

    form(action="/addNewStudent", method="POST")
        +inputGroup("name", "Nom", "text")
        +inputGroup("birth", "Date de naissance", "date")

        button(type="submit") Ajouter