block content

     mixin inputGroup(name, label)
        label
            | #{label}
            input(name=name, type='text')

    form(action="/addStudent", method="POST")
        +inputGroup("name", "Nom")
        +inputGroup("birth", "Date de naissance")

        button(type="submit") Ajouter